# This file controls how 'direnv' works, for users who have it installed AND have enabled it in this directory using 'direnv allow'.
local VENV="$(pwd)/python/.venv/bin"
export VIRTUAL_ENV=$(echo "$VENV" | rev | cut -d'/' -f2- | rev)
export POETRY_ACTIVE=1
PATH_add "$VENV"