# This file controls how 'direnv' works, for users who have it installed AND have enabled it in this directory using 'direnv allow'.

# Auto-activate the virtualenv if it exists
if [ -d ".venv" ]; then
    # We're explicitly NOT using direnvs 'layout python' because it creates the venv for us. We do that in script/bootstrap.
    export VIRTUAL_ENV="$(pwd)/.venv"
    PATH_add "$VIRTUAL_ENV"
fi