# This file controls how 'direnv' works, for users who have it installed AND have enabled it in this directory using 'direnv allow'.

# Auto-activate the virtualenv if it exists
export VIRTUAL_ENV=".venv"
layout python